<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koki's Personal Site</title>
</head>
<body>
    <img src="https://i.imgur.com/sJNEFvN.jpg"
     height="160" width="160"    alt="Superdome">
    <h1>Koki D Goudy</h1>
    <p><em>Marine Corps Vet Becoming a Software Developer</em></p>
    <p>Currently learning HTML, CSS and Python technologies</p>
    <hr>
    <h3><em>Edcuation</em></h3>
    <ul>
        <li>A.A. in Information Technology <em>2014 - 2016</em></li>
        <li>B.S. in Software Development <em>2019 - 2021</em></li>
    </ul>
    <h3>Hobbies</h3>
    <ol>
        <li><a href="https://youtube.com/watch?v=0ZXIfHP01p8&si=EnSIkaIECMiOmarE">CrossFit</a></li>
        <li><a href="https://youtube.com/watch?v=M3330xDmcN0&si=EnSIkaIECMiOmarE">Kickboxing</a></li>
        <li><a href="https://www.npr.org/2021/08/18/1027159166/best-books-science-fiction-fantasy-past-decade">Reading</a></li>
        <li><a href="https://www.rockpapershotgun.com/best-mmos-mmorpgs">Online Gaming</a></li>
    </ol>
    <a href="contact.html">Contact Me</a>
</body>
</html>